<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->

<configuration>

  <connectionStrings>
    <add name="StudentsConnect" connectionString="Data Source=SomeeDatabase.mssql.somee.com;Initial Catalog=SomeeDatabase;Persist Security Info=True;User ID=Kyksi_SQLLogin_1;Password=8iopls1rng;" />
    <add name="SomeeDatabaseConnectionString" connectionString="Data Source=SomeeDatabase.mssql.somee.com;Initial Catalog=SomeeDatabase;Persist Security Info=True;User ID=Kyksi_SQLLogin_1;Password=8iopls1rng"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
